#root {
  max-width: 1280px;
  margin: 0 auto;
}
.iconx2 {
  font-size: 2rem;
  vertical-align: middle;
}
.dflex {
  display: flex;
}
.dflex-between {
  display: flex;
  justify-content: space-between;
}
.bl {
  display: block;
}
.mr {
  margin-right: 10px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-40 {
  margin-bottom: 40px;
}
.primary-color {
  color: #ed553b;
}
.btn-primary {
  background-color: #12ab7f;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
