#root {
  max-width: 1280px;
  margin: 0 auto;
}
.iconx2 {
  font-size: 2rem;
  vertical-align: middle;
}
.dflex {
  display: flex;
}
.dflex-between {
  display: flex;
  justify-content: space-between;
}
.bl {
  display: block;
}
.mr {
  margin-right: 10px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-40 {
  margin-bottom: 40px;
}
.primary-color {
  color: #ed553b;
}
.btn-primary {
  background-color: #12ab7f;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
.vertical-align {
  vertical-align: middle;
}
.text-color-primary {
  color: #92959e;
}

* {
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #ffffff;
  scroll-behavior: smooth;
}
input,
select {
  outline: none;
}
.batch_heart {
  background: tomato;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: -24%;
  top: -9%;
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
