.slider {
  height: 400px;
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: #ecf8f5;
  box-sizing: border-box;
  padding: 20px;
  .content {
    p {
      line-height: 30px;
    }
  }
  img {
    width: 300px;
  }
}
.explore-docs {
  padding: 25px;
  background-color: #fff;
  text-align: center;
  .items-category {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #12ab7f;
    .item {
      width: 30%;
      img {
        width: 100%;
      }
    }
  }
  a {
    display: inline-block;
    margin-top: 30px;
  }
}

.weekly-review,
.featured-document,
.recent-doc {
  background-color: #fff;
  h1 {
    color: #ed553b;
  }
  .separator {
    display: flex;
    justify-content: space-between;
    align-content: center;
    h1 {
      vertical-align: middle;
    }
  }
}
