.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.underline {
  border-bottom: 2px solid #6a6a6a;
  width: 100%;
  margin-bottom: 20px;
}

.kinhte {
  display: flex;
  width: 300px;
  height: 330px;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: #0a1d56;
}
.cntt {
  display: flex;
  width: 300px;
  height: 330px;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: #37b5b6;
}
.doc-item-rencent {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .item {
    width: 30%;
    display: flex;
    flex-direction: column;
    .filename {
      cursor: pointer;
      font-weight: bold;
      font-size: 18px;
    }
    .container-item {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 5px;
      .info {
        width: 50%;
        margin-top: 5px;
        color: #888888;
        img {
          vertical-align: middle;
          margin-right: 5px;
          width: 18px;
        }
      }
    }
  }
}
